<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link rel="stylesheet" href="./css/stylereg.css">
<title>Register...</title>
</head>
<body>
<div class="container">
    <div class="jumbotron bg-info" >
        <h1> Register ... </h1>
        <hr>
        <h5>Node js express ejs bootstarp</h5>
    </div>
    <div class="conatainer">
        <form action="/register" method="POST">
            <div class="form-group">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="username">
            </div>
            <div class="form-group">
                <label for="email" class="form-label">E-mail</label>
                <input type="email" class="form-control" name="email" id="eimal">
            </div>
            <div class="form-group">
                <label for="password1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password1" id="password1">
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <button type="submit" class="btn btn-danger">Submit Now</button>
        </form>
    </div>
</div>
</body>
</html>